<%= turbo_frame_tag dom_id(message) do %>
  <% message_class = message.user == user ? 'bg-blue-500 text-white' : 'bg-gray-200' %>
  <% message_align = message.user == user ? 'items-end' : 'items-start' %>

  <div class="flex justify-between mx-4">
    <div class="w-full flex flex-col <%= message_align %>">
      <% if message.body.present? %>
        <p class="my-2 <%= message_class %> p-4 rounded-lg">
          <%= message.body %>
        </p>
      <% end %>

      <% if message.files.attached? %>
        <% message.files.each do |attachment| %>
          <% case attachment.content_type %>
          <% when /^image/ %>
            <%= link_to rails_blob_path(attachment), target: "_blank" do %>
              <%= image_tag attachment, width: "200px" %>
            <% end %>
          <% when /^audio/ %>
            <audio controls <%= 'muted' if message.user == user %>>
              <source src="<%= rails_blob_url(attachment) %>" type="<%= attachment.content_type %>"/>
            </audio>
          <% when /^video/ %>
            <video controls <%= 'muted' if message.user == user %>>
              <source src="<%= rails_blob_url(attachment) %>" type="<%= attachment.content_type %>"/>
            </video>
          <% else %>
            <p class="my-2 <%= message_class %> p-4 rounded-lg flex">
              <span class="material-symbols-outlined">
                description
              </span>
              <%= link_to attachment.filename, rails_blob_path(attachment, disposition: "attachment") %>
            </p>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

  <script type='text/javascript'>
  div.scrollTo(0, div.scrollHeight)
  message.value = ''
  files.value = ''
</script>

