<%= turbo_stream_from [user, chat] %>

<%= turbo_frame_tag chat do %>
  <% partner = chat.chat_partner(user.id) %>
  <%= turbo_stream_from partner %>

  <div
    class="
      flex justify-between items-center w-full bg-gray-300 text-black border-b
      border-b-gray-500 p-2 shadow-sm
    "
  >
    <div class="flex items-center gap-2">
      <%= render partial: "chats/partner_icon", locals: { partner: partner } %>

      <div class="font-semibold">
        <%= link_to partner.full_name,
                    chat_path(chat),
                    class: "hover:underline",
                    data: {
                      turbo_stream: true,
                    } %>
      </div>
    </div>

    <% if chat.unread_messages_count(user) > 0 %>
      <div
        class="
          flex items-center bg-white text-blue-500 rounded-full px-3 py-1 text-sm
          font-medium
        "
      >
        <%= chat.unread_messages_count(user) %>
      </div>
    <% end %>
  </div>
<% end %>
