<style type="text/css">
  ::-webkit-scrollbar {
    width: 0;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #888;
  }

  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
</style>

<%= turbo_stream_from [current_user, "chats"] %>

<div class="border w-full bg-gray-100 h-screen flex flex-col">
  <header class="bg-gray-800 text-white flex justify-between p-4 shadow-md">
    <div>
      <h1 class="text-lg font-semibold mb-4">Chats</h1>
      <%= link_to "New Chat",
                  new_chat_path,
                  class: "bg-blue-500 text-white py-2 px-4 hover:bg-blue-600",
                  data: {
                    turbo_frame: dom_id(Chat.new),
                  } %>

    </div>

    <%= render "shared/user_dropdown" %>
  </header>

  <div class="flex h-[90%]">
    <aside class="w-1/4 bg-gray-800 text-white overflow-y-auto px-4">
      <%= turbo_frame_tag dom_id(Chat.new) %>
      <%= render "search" %>
      <%= render partial: "chats/chats_list",
                 locals: {
                   chats: @chats,
                   user: current_user,
                 } %>
      <%= render partial: "chats/users_list", locals: { users: @users } %>
    </aside>

    <main class="w-3/4 bg-gray-100 overflow-auto">
      <%= turbo_frame_tag "#{current_user.id}_show" %>
    </main>
  </div>
</div>
