<style type="text/css">
  ::-webkit-scrollbar {
    width: 0;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #888;
  }

  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
</style>

<%= turbo_stream_from [current_user, "chats"] %>

<div class="w-full h-screen flex flex-col">
  <header
    class="w-full bg-gray-800 text-white flex justify-between p-6 shadow-md"
  >
    <div class="flex items-center">
      <button
        data-drawer-target="default-sidebar"
        data-drawer-toggle="default-sidebar"
        aria-controls="default-sidebar"
        type="button"
        class="
          inline-flex items-center p-2 mr-5 text-sm text-gray-500 rounded-lg
          hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 sm:hidden
        "
      >
        <span class="sr-only">Open sidebar</span>
        <span class="material-symbols-outlined">menu</span>
      </button>
      <h1 class="text-lg font-semibold">Chats</h1>
    </div>

    <%= render "shared/user_dropdown" %>
  </header>

  <div class="flex h-[90%] justify-between w-full">
    <aside
      id="default-sidebar"
      class="
        fixed top-20 left-0 z-40 w-96 h-full bg-gray-800 text-white overflow-y-auto px-4
        py-4 transition-transform -translate-x-full sm:translate-x-0
      "
      aria-label="Sidebar"
    >
      <%= render "search" %>

      <%= link_to "New Chat",
                  new_chat_path,
                  class: "my-4 bg-blue-500 text-white py-2 px-4 hover:bg-blue-600",
                  data: {
                    turbo_frame: dom_id(Chat.new),
                  } %>

      <%= turbo_frame_tag dom_id(Chat.new) %>

      <div class="mt-4">
        <%= render partial: "chats/chats_list",
                   locals: {
                     chats: @chats,
                     user: current_user,
                   } %>
        <%= render partial: "chats/users_list", locals: { users: @users } %>
      </div>
    </aside>

    <main class="w-full sm:ml-96 bg-gray-100 overflow-auto">
      <%= turbo_frame_tag "#{current_user.id}_show" do %>
        <%= render partial: "chats/show",
                   locals: {
                     user: current_user,
                     messages: @messages,
                     message: Message.new,
                     chat: @chat,
                   } %>
      <% end %>
    </main>
  </div>
</div>
